	body{
		background: linear-gradient(to right, teal, lavender, lavender, lavender,lavender,lavender,teal);
	}
	.h {
		border: 2px solid black;
		border-radius: 5px;
		background-color:lightgrey;
		text-align:center;
		width:200px;
		display:inline-block;
	}
	a {
		color:#505050;
		font-size:24;
		font-family:Helvetica;
		font-weight:bold;
		text-decoration:none;
	}
	.c {
		border: 2px solid black;
		border-radius: 5px;
		background-color:lightgrey;
	}
	a:hover {
		color:grey;
	}
	img {
		height:100px;
		width:175px;
	}
	img:hover {
		opacity:0.75;
	}
	.m {
		display:inline;
		padding-left:2.5%;
		padding-right:2.5%;
	}
	#info {
		padding:1%;
		width:30%;
	}
	table {
		background-color:lightgrey;
		border: 2px solid black;
		border-radius:5px;
		width:100%;
		padding:3px;
	}
	td {
		text-align:center;
		padding:5px;
		width:33%;
		background-color:lavender;
		border: 2px solid black;
		border-radius: 5px;
	}
	.o {
		font-family:Courier;
		font-size:15px;
	}
